Demo.project/TestCode/TestSolution2013/CallServiceClient/Web References/WebService1Soap/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestMethod2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:TestMethodInput" />
            <s:element minOccurs="0" maxOccurs="1" name="input2" type="tns:TestMethodInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TestMethodInput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TestMethod2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestMethod2Result" type="tns:TestMethodOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TestMethodOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Text1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Text2" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TestMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input1" type="tns:MyTestMethodInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MyTestMethodInput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TestMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestMethodResult" type="tns:MyTestMethodOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MyTestMethodOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Text1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Text2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="ListOfObjects" type="tns:ArrayOfMyTestMethodOutput" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMyTestMethodOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MyTestMethodOutput" nillable="true" type="tns:MyTestMethodOutput" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="TestMethod2SoapIn">
    <wsdl:part name="parameters" element="tns:TestMethod2" />
  </wsdl:message>
  <wsdl:message name="TestMethod2SoapOut">
    <wsdl:part name="parameters" element="tns:TestMethod2Response" />
  </wsdl:message>
  <wsdl:message name="TestMethodSoapIn">
    <wsdl:part name="parameters" element="tns:TestMethod" />
  </wsdl:message>
  <wsdl:message name="TestMethodSoapOut">
    <wsdl:part name="parameters" element="tns:TestMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestMethod2">
      <wsdl:input message="tns:TestMethod2SoapIn" />
      <wsdl:output message="tns:TestMethod2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestMethod">
      <wsdl:input message="tns:TestMethodSoapIn" />
      <wsdl:output message="tns:TestMethodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestMethod2">
      <soap:operation soapAction="http://tempuri.org/TestMethod2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestMethod">
      <soap:operation soapAction="http://tempuri.org/TestMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestMethod2">
      <soap12:operation soapAction="http://tempuri.org/TestMethod2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestMethod">
      <soap12:operation soapAction="http://tempuri.org/TestMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:1206/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:1206/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>