TOneV2/Code/TOneV2/TABS/Web References/DrkSMSService/drksmsservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="DRKSMSService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="DRKSMSService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="DRKSMSService">
      <s:element name="UpdateCurrentOperator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="code" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCurrentOperatorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateCurrentOperatorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="CheckMessageStatus">
        <s:complexType />
      </s:element>
      <s:element name="CheckMessageStatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendGeneralMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="header" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="messageSource" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendGeneralMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendSingleShotSmsMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="header" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="messagesourceid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSingleShotSmsMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSingleShotSmsMessageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsMessageFromVoip">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsMessageFromVoipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSmsMessageFromVoipResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="phonesID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="templateID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_params" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageFromHSPC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageFromHSPCResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendMessageFromEmerald">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="header" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="messagesourceid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageFromEmeraldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessageFromEmeraldResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertWiSpotterRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ipaddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="messagesource" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertWiSpotterRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertWiSpotterRequestResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWiSpotterRequestResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWiSpotterRequestResultResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertCustomerReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="messagesource" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCustomerReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertCustomerReportResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="messageSource" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFolderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCardBatchAccountAndSendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="messagesourceid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCardBatchAccountAndSendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateCardBatchAccountAndSendSmsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageFromWiSpotter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sms" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="messagesourceid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageFromWiSpotterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessageFromWiSpotterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsViaAvea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="header" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="messageSource" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsViaAveaResponse">
        <s:complexType />
      </s:element>
      <s:element name="DataPortAccoutInfo">
        <s:complexType />
      </s:element>
      <s:element name="DataPortAccoutInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataPortAccoutInfoResult" type="tns:AccountInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Login" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Credit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ServiceCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Orginator" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DataPortSingleShotAccoutInfo">
        <s:complexType />
      </s:element>
      <s:element name="DataPortSingleShotAccoutInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataPortSingleShotAccoutInfoResult" type="tns:AccountInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSviaDataPort">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="messageid" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="header" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sendTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="stoptime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSviaDataPortResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendSMSviaDataPortNow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="header" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="messageSource" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSviaDataPortNowResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendSingleShotSMSviaDataPort">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="header" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="messageSource" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSingleShotSMSviaDataPortResponse">
        <s:complexType />
      </s:element>
      <s:element name="CheckCanceledMessages">
        <s:complexType />
      </s:element>
      <s:element name="CheckCanceledMessagesResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetTuraTelCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="singleshot" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTuraTelCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTuraTelCreditResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJetSMSCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJetSMSCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetJetSMSCreditResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateCurrentOperatorSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCurrentOperator" />
  </wsdl:message>
  <wsdl:message name="UpdateCurrentOperatorSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCurrentOperatorResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmailMessage" />
  </wsdl:message>
  <wsdl:message name="SendEmailMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailMessageResponse" />
  </wsdl:message>
  <wsdl:message name="CheckMessageStatusSoapIn">
    <wsdl:part name="parameters" element="tns:CheckMessageStatus" />
  </wsdl:message>
  <wsdl:message name="CheckMessageStatusSoapOut">
    <wsdl:part name="parameters" element="tns:CheckMessageStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SendGeneralMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendGeneralMessage" />
  </wsdl:message>
  <wsdl:message name="SendGeneralMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendGeneralMessageResponse" />
  </wsdl:message>
  <wsdl:message name="SendSingleShotSmsMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendSingleShotSmsMessage" />
  </wsdl:message>
  <wsdl:message name="SendSingleShotSmsMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendSingleShotSmsMessageResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsMessageFromVoipSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsMessageFromVoip" />
  </wsdl:message>
  <wsdl:message name="SendSmsMessageFromVoipSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsMessageFromVoipResponse" />
  </wsdl:message>
  <wsdl:message name="CreateMessageSoapIn">
    <wsdl:part name="parameters" element="tns:CreateMessage" />
  </wsdl:message>
  <wsdl:message name="CreateMessageSoapOut">
    <wsdl:part name="parameters" element="tns:CreateMessageResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageFromHSPCSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessageFromHSPC" />
  </wsdl:message>
  <wsdl:message name="SendMessageFromHSPCSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageFromHSPCResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageFromEmeraldSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessageFromEmerald" />
  </wsdl:message>
  <wsdl:message name="SendMessageFromEmeraldSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageFromEmeraldResponse" />
  </wsdl:message>
  <wsdl:message name="InsertWiSpotterRequestSoapIn">
    <wsdl:part name="parameters" element="tns:InsertWiSpotterRequest" />
  </wsdl:message>
  <wsdl:message name="InsertWiSpotterRequestSoapOut">
    <wsdl:part name="parameters" element="tns:InsertWiSpotterRequestResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWiSpotterRequestResultSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWiSpotterRequestResult" />
  </wsdl:message>
  <wsdl:message name="UpdateWiSpotterRequestResultSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWiSpotterRequestResultResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCustomerReportSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCustomerReport" />
  </wsdl:message>
  <wsdl:message name="InsertCustomerReportSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCustomerReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetFolderSoapIn">
    <wsdl:part name="parameters" element="tns:GetFolder" />
  </wsdl:message>
  <wsdl:message name="GetFolderSoapOut">
    <wsdl:part name="parameters" element="tns:GetFolderResponse" />
  </wsdl:message>
  <wsdl:message name="CreateCardBatchAccountAndSendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:CreateCardBatchAccountAndSendSms" />
  </wsdl:message>
  <wsdl:message name="CreateCardBatchAccountAndSendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:CreateCardBatchAccountAndSendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageFromWiSpotterSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessageFromWiSpotter" />
  </wsdl:message>
  <wsdl:message name="SendMessageFromWiSpotterSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageFromWiSpotterResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsViaAveaSoapIn">
    <wsdl:part name="parameters" element="tns:SendSmsViaAvea" />
  </wsdl:message>
  <wsdl:message name="SendSmsViaAveaSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsViaAveaResponse" />
  </wsdl:message>
  <wsdl:message name="DataPortAccoutInfoSoapIn">
    <wsdl:part name="parameters" element="tns:DataPortAccoutInfo" />
  </wsdl:message>
  <wsdl:message name="DataPortAccoutInfoSoapOut">
    <wsdl:part name="parameters" element="tns:DataPortAccoutInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DataPortSingleShotAccoutInfoSoapIn">
    <wsdl:part name="parameters" element="tns:DataPortSingleShotAccoutInfo" />
  </wsdl:message>
  <wsdl:message name="DataPortSingleShotAccoutInfoSoapOut">
    <wsdl:part name="parameters" element="tns:DataPortSingleShotAccoutInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMSviaDataPortSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMSviaDataPort" />
  </wsdl:message>
  <wsdl:message name="SendSMSviaDataPortSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSviaDataPortResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMSviaDataPortNowSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMSviaDataPortNow" />
  </wsdl:message>
  <wsdl:message name="SendSMSviaDataPortNowSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSviaDataPortNowResponse" />
  </wsdl:message>
  <wsdl:message name="SendSingleShotSMSviaDataPortSoapIn">
    <wsdl:part name="parameters" element="tns:SendSingleShotSMSviaDataPort" />
  </wsdl:message>
  <wsdl:message name="SendSingleShotSMSviaDataPortSoapOut">
    <wsdl:part name="parameters" element="tns:SendSingleShotSMSviaDataPortResponse" />
  </wsdl:message>
  <wsdl:message name="CheckCanceledMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:CheckCanceledMessages" />
  </wsdl:message>
  <wsdl:message name="CheckCanceledMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:CheckCanceledMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="GetTuraTelCreditSoapIn">
    <wsdl:part name="parameters" element="tns:GetTuraTelCredit" />
  </wsdl:message>
  <wsdl:message name="GetTuraTelCreditSoapOut">
    <wsdl:part name="parameters" element="tns:GetTuraTelCreditResponse" />
  </wsdl:message>
  <wsdl:message name="GetJetSMSCreditSoapIn">
    <wsdl:part name="parameters" element="tns:GetJetSMSCredit" />
  </wsdl:message>
  <wsdl:message name="GetJetSMSCreditSoapOut">
    <wsdl:part name="parameters" element="tns:GetJetSMSCreditResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="DRKSMSServiceSoap">
    <wsdl:operation name="UpdateCurrentOperator">
      <wsdl:input message="tns:UpdateCurrentOperatorSoapIn" />
      <wsdl:output message="tns:UpdateCurrentOperatorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailMessage">
      <wsdl:input message="tns:SendEmailMessageSoapIn" />
      <wsdl:output message="tns:SendEmailMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckMessageStatus">
      <wsdl:input message="tns:CheckMessageStatusSoapIn" />
      <wsdl:output message="tns:CheckMessageStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendGeneralMessage">
      <wsdl:input message="tns:SendGeneralMessageSoapIn" />
      <wsdl:output message="tns:SendGeneralMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSingleShotSmsMessage">
      <wsdl:input message="tns:SendSingleShotSmsMessageSoapIn" />
      <wsdl:output message="tns:SendSingleShotSmsMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsMessageFromVoip">
      <wsdl:input message="tns:SendSmsMessageFromVoipSoapIn" />
      <wsdl:output message="tns:SendSmsMessageFromVoipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateMessage">
      <wsdl:input message="tns:CreateMessageSoapIn" />
      <wsdl:output message="tns:CreateMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageFromHSPC">
      <wsdl:input message="tns:SendMessageFromHSPCSoapIn" />
      <wsdl:output message="tns:SendMessageFromHSPCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageFromEmerald">
      <wsdl:input message="tns:SendMessageFromEmeraldSoapIn" />
      <wsdl:output message="tns:SendMessageFromEmeraldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertWiSpotterRequest">
      <wsdl:input message="tns:InsertWiSpotterRequestSoapIn" />
      <wsdl:output message="tns:InsertWiSpotterRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWiSpotterRequestResult">
      <wsdl:input message="tns:UpdateWiSpotterRequestResultSoapIn" />
      <wsdl:output message="tns:UpdateWiSpotterRequestResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCustomerReport">
      <wsdl:input message="tns:InsertCustomerReportSoapIn" />
      <wsdl:output message="tns:InsertCustomerReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFolder">
      <wsdl:input message="tns:GetFolderSoapIn" />
      <wsdl:output message="tns:GetFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateCardBatchAccountAndSendSms">
      <wsdl:input message="tns:CreateCardBatchAccountAndSendSmsSoapIn" />
      <wsdl:output message="tns:CreateCardBatchAccountAndSendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageFromWiSpotter">
      <wsdl:input message="tns:SendMessageFromWiSpotterSoapIn" />
      <wsdl:output message="tns:SendMessageFromWiSpotterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSmsViaAvea">
      <wsdl:input message="tns:SendSmsViaAveaSoapIn" />
      <wsdl:output message="tns:SendSmsViaAveaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataPortAccoutInfo">
      <wsdl:input message="tns:DataPortAccoutInfoSoapIn" />
      <wsdl:output message="tns:DataPortAccoutInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataPortSingleShotAccoutInfo">
      <wsdl:input message="tns:DataPortSingleShotAccoutInfoSoapIn" />
      <wsdl:output message="tns:DataPortSingleShotAccoutInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMSviaDataPort">
      <wsdl:input message="tns:SendSMSviaDataPortSoapIn" />
      <wsdl:output message="tns:SendSMSviaDataPortSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMSviaDataPortNow">
      <wsdl:input message="tns:SendSMSviaDataPortNowSoapIn" />
      <wsdl:output message="tns:SendSMSviaDataPortNowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSingleShotSMSviaDataPort">
      <wsdl:input message="tns:SendSingleShotSMSviaDataPortSoapIn" />
      <wsdl:output message="tns:SendSingleShotSMSviaDataPortSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckCanceledMessages">
      <wsdl:input message="tns:CheckCanceledMessagesSoapIn" />
      <wsdl:output message="tns:CheckCanceledMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTuraTelCredit">
      <wsdl:input message="tns:GetTuraTelCreditSoapIn" />
      <wsdl:output message="tns:GetTuraTelCreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJetSMSCredit">
      <wsdl:input message="tns:GetJetSMSCreditSoapIn" />
      <wsdl:output message="tns:GetJetSMSCreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DRKSMSServiceSoap" type="tns:DRKSMSServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateCurrentOperator">
      <soap:operation soapAction="DRKSMSService/UpdateCurrentOperator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailMessage">
      <soap:operation soapAction="DRKSMSService/SendEmailMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckMessageStatus">
      <soap:operation soapAction="DRKSMSService/CheckMessageStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendGeneralMessage">
      <soap:operation soapAction="DRKSMSService/SendGeneralMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSingleShotSmsMessage">
      <soap:operation soapAction="DRKSMSService/SendSingleShotSmsMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsMessageFromVoip">
      <soap:operation soapAction="DRKSMSService/SendSmsMessageFromVoip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMessage">
      <soap:operation soapAction="DRKSMSService/CreateMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageFromHSPC">
      <soap:operation soapAction="DRKSMSService/SendMessageFromHSPC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageFromEmerald">
      <soap:operation soapAction="DRKSMSService/SendMessageFromEmerald" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWiSpotterRequest">
      <soap:operation soapAction="DRKSMSService/InsertWiSpotterRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWiSpotterRequestResult">
      <soap:operation soapAction="DRKSMSService/UpdateWiSpotterRequestResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomerReport">
      <soap:operation soapAction="DRKSMSService/InsertCustomerReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolder">
      <soap:operation soapAction="DRKSMSService/GetFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCardBatchAccountAndSendSms">
      <soap:operation soapAction="DRKSMSService/CreateCardBatchAccountAndSendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageFromWiSpotter">
      <soap:operation soapAction="DRKSMSService/SendMessageFromWiSpotter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsViaAvea">
      <soap:operation soapAction="DRKSMSService/SendSmsViaAvea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataPortAccoutInfo">
      <soap:operation soapAction="DRKSMSService/DataPortAccoutInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataPortSingleShotAccoutInfo">
      <soap:operation soapAction="DRKSMSService/DataPortSingleShotAccoutInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSviaDataPort">
      <soap:operation soapAction="DRKSMSService/SendSMSviaDataPort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSviaDataPortNow">
      <soap:operation soapAction="DRKSMSService/SendSMSviaDataPortNow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSingleShotSMSviaDataPort">
      <soap:operation soapAction="DRKSMSService/SendSingleShotSMSviaDataPort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCanceledMessages">
      <soap:operation soapAction="DRKSMSService/CheckCanceledMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTuraTelCredit">
      <soap:operation soapAction="DRKSMSService/GetTuraTelCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJetSMSCredit">
      <soap:operation soapAction="DRKSMSService/GetJetSMSCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="DRKSMSService/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DRKSMSServiceSoap12" type="tns:DRKSMSServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateCurrentOperator">
      <soap12:operation soapAction="DRKSMSService/UpdateCurrentOperator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailMessage">
      <soap12:operation soapAction="DRKSMSService/SendEmailMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckMessageStatus">
      <soap12:operation soapAction="DRKSMSService/CheckMessageStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendGeneralMessage">
      <soap12:operation soapAction="DRKSMSService/SendGeneralMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSingleShotSmsMessage">
      <soap12:operation soapAction="DRKSMSService/SendSingleShotSmsMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsMessageFromVoip">
      <soap12:operation soapAction="DRKSMSService/SendSmsMessageFromVoip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMessage">
      <soap12:operation soapAction="DRKSMSService/CreateMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageFromHSPC">
      <soap12:operation soapAction="DRKSMSService/SendMessageFromHSPC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageFromEmerald">
      <soap12:operation soapAction="DRKSMSService/SendMessageFromEmerald" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWiSpotterRequest">
      <soap12:operation soapAction="DRKSMSService/InsertWiSpotterRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWiSpotterRequestResult">
      <soap12:operation soapAction="DRKSMSService/UpdateWiSpotterRequestResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomerReport">
      <soap12:operation soapAction="DRKSMSService/InsertCustomerReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolder">
      <soap12:operation soapAction="DRKSMSService/GetFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCardBatchAccountAndSendSms">
      <soap12:operation soapAction="DRKSMSService/CreateCardBatchAccountAndSendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageFromWiSpotter">
      <soap12:operation soapAction="DRKSMSService/SendMessageFromWiSpotter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSmsViaAvea">
      <soap12:operation soapAction="DRKSMSService/SendSmsViaAvea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataPortAccoutInfo">
      <soap12:operation soapAction="DRKSMSService/DataPortAccoutInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataPortSingleShotAccoutInfo">
      <soap12:operation soapAction="DRKSMSService/DataPortSingleShotAccoutInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSviaDataPort">
      <soap12:operation soapAction="DRKSMSService/SendSMSviaDataPort" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSviaDataPortNow">
      <soap12:operation soapAction="DRKSMSService/SendSMSviaDataPortNow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSingleShotSMSviaDataPort">
      <soap12:operation soapAction="DRKSMSService/SendSingleShotSMSviaDataPort" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCanceledMessages">
      <soap12:operation soapAction="DRKSMSService/CheckCanceledMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTuraTelCredit">
      <soap12:operation soapAction="DRKSMSService/GetTuraTelCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJetSMSCredit">
      <soap12:operation soapAction="DRKSMSService/GetJetSMSCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="DRKSMSService/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DRKSMSService">
    <wsdl:port name="DRKSMSServiceSoap" binding="tns:DRKSMSServiceSoap">
      <soap:address location="http://212.58.13.50:88/drksmsservice/drksmsservice.asmx" />
    </wsdl:port>
    <wsdl:port name="DRKSMSServiceSoap12" binding="tns:DRKSMSServiceSoap12">
      <soap12:address location="http://212.58.13.50:88/drksmsservice/drksmsservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>