Demo.project/TestCode/TestSolution2013/CallServiceClient/Web References/AudiWSDLWebServiceProxy/pty0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:contactDetails="http://www.banqueaudi.com/ebo/pty.party.ContactDetails" xmlns:docId="http://www.banqueaudi.com/ebo/ent.cmn.Identifiers" xmlns:id="http://www.banqueaudi.com/ebo/pty.cmn.Identifiers" xmlns="http://www.banqueaudi.com/ebo/pty.party.Party" xmlns:bsc="http://www.banqueaudi.com/ebo/util.cmn.Basic" elementFormDefault="qualified" targetNamespace="http://www.banqueaudi.com/ebo/pty.party.Party" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="util.cmn.Basic_1.0.xsd" namespace="http://www.banqueaudi.com/ebo/util.cmn.Basic" />
  <xsd:import schemaLocation="pty.cmn.Identifiers_1.0.xsd" namespace="http://www.banqueaudi.com/ebo/pty.cmn.Identifiers" />
  <xsd:import schemaLocation="pty.party.ContactDetails_1.0.xsd" namespace="http://www.banqueaudi.com/ebo/pty.party.ContactDetails" />
  <xsd:import schemaLocation="ent.cmn.Identifiers_1.0.xsd" namespace="http://www.banqueaudi.com/ebo/ent.cmn.Identifiers" />
  <xsd:complexType name="IdentityType">
    <xsd:annotation>
      <xsd:documentation>The IdentityType describes a party identity with some authority, for example a national identity.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The identity with an authority</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="issueDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>The date of issue of this identity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="expiryDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>The expiry of this identity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="authority" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The authority which issues or manages this identity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="authorityLocation" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The location of this authority</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="identityPropertySet" type="bsc:PropertySetType" />
      <xsd:element minOccurs="0" ref="identityEvidence">
        <xsd:annotation>
          <xsd:documentation>Describe the evidence which was supplied to the bank to support/prove this identity.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="type" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:element name="identity" type="IdentityType" />
  <xsd:complexType name="IdentityCollectionType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" ref="identity" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="identitySet" type="IdentityCollectionType" />
  <xsd:element name="identityList" type="IdentityCollectionType" />
  <xsd:complexType name="IdentityEvidenceType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="type" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The type of evidence document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="description" type="xsd:string" />
      <xsd:element minOccurs="0" name="dateReceived" type="xsd:date" />
      <xsd:element minOccurs="0" ref="docId:documentId">
        <xsd:annotation>
          <xsd:documentation>The document id of this evidence document in the DMS</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="identityEvidence" type="IdentityEvidenceType" />
  <xsd:complexType name="IdentityEvidenceCollectionType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" ref="identityEvidence" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="identityEvidenceSet" type="IdentityEvidenceCollectionType" />
  <xsd:element name="identityEvidenceList" type="IdentityEvidenceCollectionType" />
  <xsd:complexType name="PartyType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="contactDetails:contacts" />
      <xsd:element minOccurs="0" ref="identitySet" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="party" type="PartyType" />
</xsd:schema>