Demo.project/TestCode/TestSolution2013/CallServiceClient/Web References/AudiWSDLWebServiceProxy/util.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.banqueaudi.com/ebo/util.flt.Fault" xmlns:hdr="http://www.banqueaudi.com/ebo/util.cmn.EBMHeader" xmlns:bsc="http://www.banqueaudi.com/ebo/util.cmn.Basic" xmlns:tns="http://www.banqueaudi.com/ebo/util.flt.Fault" elementFormDefault="qualified" targetNamespace="http://www.banqueaudi.com/ebo/util.flt.Fault" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="util.cmn.Basic_1.0.xsd" namespace="http://www.banqueaudi.com/ebo/util.cmn.Basic" />
  <xsd:import schemaLocation="util.cmn.EBMHeader_1.0.xsd" namespace="http://www.banqueaudi.com/ebo/util.cmn.EBMHeader" />
  <xsd:complexType name="CauseListType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="cause" type="tns:FaultType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="causeList" type="tns:CauseListType" />
  <xsd:complexType name="ErrorType">
    <xsd:sequence>
      <xsd:element name="errorCode" type="xsd:string" />
      <xsd:element name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="error" type="tns:ErrorType" />
  <xsd:complexType name="ErrorListType">
    <xsd:annotation>
      <xsd:documentation>Enables the support of throwing a fault based on many errors received at once from a source.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" ref="tns:error" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="errorList" type="tns:ErrorListType" />
  <xsd:complexType name="FaultType">
    <xsd:sequence>
      <xsd:element name="source" type="xsd:string" />
      <xsd:element ref="tns:errorList" />
      <xsd:element name="details" type="xsd:anyType" />
      <xsd:element ref="hdr:ebmCID" />
      <xsd:element ref="hdr:ebmMID" />
      <xsd:element name="faultInstanceId" type="bsc:UidType" />
      <xsd:element name="propertySet" type="bsc:PropertySetType" />
      <xsd:element minOccurs="0" name="timestamp" type="xsd:dateTime" />
      <xsd:element minOccurs="0" ref="tns:causeList">
        <xsd:annotation>
          <xsd:documentation>This lists the faults which 'caused' this fault to be generated.
        This is a list and therefore ordering of the nodes is important.
        The first fault in the list is the fault which caused this fault (the fault containing this list).
        The second fault in the list if the fault which caused the first fault in the list and so on and so on.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="fault" type="tns:FaultType" />
</xsd:schema>