Demo.project/TestCode/TestSolution2013/CallServiceClient/Service References/Service1/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://vanrise.bp.services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://vanrise.bp.services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://vanrise.bp.services/Imports">
      <xsd:import schemaLocation="http://localhost:1206/Service1.svc?xsd=xsd0" namespace="http://vanrise.bp.services" />
      <xsd:import schemaLocation="http://localhost:1206/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1206/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebApplication2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IService1_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TestMethod2_InputMessage">
    <wsdl:part name="parameters" element="tns:TestMethod2" />
  </wsdl:message>
  <wsdl:message name="IService1_TestMethod2_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestMethod2Response" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://vanrise.bp.services/IService1/DoWork" message="tns:IService1_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://vanrise.bp.services/IService1/DoWorkResponse" message="tns:IService1_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestMethod2">
      <wsdl:input wsaw:Action="http://vanrise.bp.services/IService1/TestMethod2" message="tns:IService1_TestMethod2_InputMessage" />
      <wsdl:output wsaw:Action="http://vanrise.bp.services/IService1/TestMethod2Response" message="tns:IService1_TestMethod2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>