Demo.project/TestCode/TestSolution2013/CallServiceClient/Service References/Service1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebApplication2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebApplication2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TestMethodInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestMethodInput" nillable="true" type="tns:TestMethodInput" />
  <xs:complexType name="TestMethodOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestMethodOutput" nillable="true" type="tns:TestMethodOutput" />
</xs:schema>