FZero/Vanrise.Fzero.Services.Email/Service References/ServiceReference1/WcfServiceLibraryImport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Vanrise.Fzero.Services.WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Vanrise.Fzero.Services.WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfgeneratedCall">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="generatedCall" nillable="true" type="tns:generatedCall" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgeneratedCall" nillable="true" type="tns:ArrayOfgeneratedCall" />
  <xs:complexType name="generatedCall">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AssignedTo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AssignmentDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AttemptDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CLI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurationInSeconds" type="xs:int" />
      <xs:element minOccurs="0" name="FeedbackDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FeedbackNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ImportID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Level1Comparison" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Level2Comparison" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LevelOneComparisonDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LevelTwoComparisonDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MobileOperatorFeedbackID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MobileOperatorID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OriginationNetwork" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriorityID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReportID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReportingStatusChangedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReportingStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="SourceID" type="xs:int" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      <xs:element minOccurs="0" name="ToneFeedbackID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="a_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="b_number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="generatedCall" nillable="true" type="tns:generatedCall" />
</xs:schema>