Demo.project/TestCode/TestSolution2013/CallServiceClient/Service References/AudiServices/pty4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.banqueaudi.com/ebo/pty.custdet.Customer" xmlns:cust="http://www.banqueaudi.com/ebo/pty.cust.Customer" xmlns:bsc="http://www.banqueaudi.com/ebo/util.cmn.Basic" xmlns:id="http://www.banqueaudi.com/ebo/pty.cmn.Identifiers" elementFormDefault="qualified" targetNamespace="http://www.banqueaudi.com/ebo/pty.custdet.Customer" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="util.cmn.Basic_1.0.xsd" namespace="http://www.banqueaudi.com/ebo/util.cmn.Basic" />
  <xsd:import schemaLocation="pty.cmn.Identifiers_1.0.xsd" namespace="http://www.banqueaudi.com/ebo/pty.cmn.Identifiers" />
  <xsd:import schemaLocation="pty.cust.Customer_1.0.xsd" namespace="http://www.banqueaudi.com/ebo/pty.cust.Customer" />
  <xsd:complexType name="BankCustomerDetailType" />
  <xsd:element name="bankCustomerDetail" type="BankCustomerDetailType" />
  <xsd:complexType name="InvestmentCustomerDetailType" />
  <xsd:element name="investmentCustomerDetail" type="InvestmentCustomerDetailType" />
  <xsd:complexType name="CardCustomerDetailType" />
  <xsd:element name="cardCustomerDetail" type="CardCustomerDetailType" />
  <xsd:complexType name="CustomerDetailType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="bankCustomerDetail" />
      <xsd:element minOccurs="0" ref="investmentCustomerDetail" />
      <xsd:element minOccurs="0" ref="cardCustomerDetail" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="customerDetail" type="CustomerDetailType" />
</xsd:schema>