FZero/Vanrise.Fzero.Services.LevelTwoComparison/Service References/ServiceReference1/FMS.DataLayer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FMS.DataLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FMS.DataLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RecievedEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateSent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MessageID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReadDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SourceID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecievedEmail" nillable="true" type="tns:RecievedEmail" />
</xs:schema>