FZero/Vanrise.Fzero.Services.LevelTwoComparison/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FzeroService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBindingEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/FMS.DataLayer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Vanrise.Fzero.Services.WcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFzeroService_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="IFzeroService_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="IFzeroService_GetSourceNameByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceNameByEmail" />
  </wsdl:message>
  <wsdl:message name="IFzeroService_GetSourceNameByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceNameByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IFzeroService_GetSourceIDByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceIDByEmail" />
  </wsdl:message>
  <wsdl:message name="IFzeroService_GetSourceIDByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceIDByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IFzeroService_GetLastEmailRecieved_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastEmailRecieved" />
  </wsdl:message>
  <wsdl:message name="IFzeroService_GetLastEmailRecieved_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastEmailRecievedResponse" />
  </wsdl:message>
  <wsdl:message name="IFzeroService_SaveLastEmailRecieved_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveLastEmailRecieved" />
  </wsdl:message>
  <wsdl:message name="IFzeroService_SaveLastEmailRecieved_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveLastEmailRecievedResponse" />
  </wsdl:message>
  <wsdl:message name="IFzeroService_GetCallsDidNotPassLevelTwo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCallsDidNotPassLevelTwo" />
  </wsdl:message>
  <wsdl:message name="IFzeroService_GetCallsDidNotPassLevelTwo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCallsDidNotPassLevelTwoResponse" />
  </wsdl:message>
  <wsdl:message name="IFzeroService_PerformLevelTwoComparison_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformLevelTwoComparison" />
  </wsdl:message>
  <wsdl:message name="IFzeroService_PerformLevelTwoComparison_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformLevelTwoComparisonResponse" />
  </wsdl:message>
  <wsdl:portType name="IFzeroService">
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://tempuri.org/IFzeroService/Import" message="tns:IFzeroService_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFzeroService/ImportResponse" message="tns:IFzeroService_Import_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSourceNameByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IFzeroService/GetSourceNameByEmail" message="tns:IFzeroService_GetSourceNameByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFzeroService/GetSourceNameByEmailResponse" message="tns:IFzeroService_GetSourceNameByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSourceIDByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IFzeroService/GetSourceIDByEmail" message="tns:IFzeroService_GetSourceIDByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFzeroService/GetSourceIDByEmailResponse" message="tns:IFzeroService_GetSourceIDByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastEmailRecieved">
      <wsdl:input wsaw:Action="http://tempuri.org/IFzeroService/GetLastEmailRecieved" message="tns:IFzeroService_GetLastEmailRecieved_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFzeroService/GetLastEmailRecievedResponse" message="tns:IFzeroService_GetLastEmailRecieved_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveLastEmailRecieved">
      <wsdl:input wsaw:Action="http://tempuri.org/IFzeroService/SaveLastEmailRecieved" message="tns:IFzeroService_SaveLastEmailRecieved_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFzeroService/SaveLastEmailRecievedResponse" message="tns:IFzeroService_SaveLastEmailRecieved_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCallsDidNotPassLevelTwo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFzeroService/GetCallsDidNotPassLevelTwo" message="tns:IFzeroService_GetCallsDidNotPassLevelTwo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFzeroService/GetCallsDidNotPassLevelTwoResponse" message="tns:IFzeroService_GetCallsDidNotPassLevelTwo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerformLevelTwoComparison">
      <wsdl:input wsaw:Action="http://tempuri.org/IFzeroService/PerformLevelTwoComparison" message="tns:IFzeroService_PerformLevelTwoComparison_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFzeroService/PerformLevelTwoComparisonResponse" message="tns:IFzeroService_PerformLevelTwoComparison_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBindingEndpoint" type="tns:IFzeroService">
    <wsp:PolicyReference URI="#NetTcpBindingEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Import">
      <soap12:operation soapAction="http://tempuri.org/IFzeroService/Import" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSourceNameByEmail">
      <soap12:operation soapAction="http://tempuri.org/IFzeroService/GetSourceNameByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSourceIDByEmail">
      <soap12:operation soapAction="http://tempuri.org/IFzeroService/GetSourceIDByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastEmailRecieved">
      <soap12:operation soapAction="http://tempuri.org/IFzeroService/GetLastEmailRecieved" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveLastEmailRecieved">
      <soap12:operation soapAction="http://tempuri.org/IFzeroService/SaveLastEmailRecieved" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallsDidNotPassLevelTwo">
      <soap12:operation soapAction="http://tempuri.org/IFzeroService/GetCallsDidNotPassLevelTwo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformLevelTwoComparison">
      <soap12:operation soapAction="http://tempuri.org/IFzeroService/PerformLevelTwoComparison" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FzeroService">
    <wsdl:port name="NetTcpBindingEndpoint" binding="tns:NetTcpBindingEndpoint">
      <soap12:address location="net.tcp://localhost:8523/FMSImportService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8523/FMSImportService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>