FZero/Vanrise.Fzero.Services.LevelTwoComparison/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FMS.DataLayer" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Vanrise.Fzero.Services.WcfServiceLibrary" />
  <xs:element name="Import">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SourceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceNameByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceNameByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSourceNameByEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceIDByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceIDByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSourceIDByEmailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastEmailRecieved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Source" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastEmailRecievedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FMS.DataLayer" minOccurs="0" name="GetLastEmailRecievedResult" nillable="true" type="q1:RecievedEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLastEmailRecieved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FMS.DataLayer" minOccurs="0" name="RecievedEmail" nillable="true" type="q2:RecievedEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLastEmailRecievedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FMS.DataLayer" minOccurs="0" name="SaveLastEmailRecievedResult" nillable="true" type="q3:RecievedEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallsDidNotPassLevelTwo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LevelTwoComparisonIsObligatory" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallsDidNotPassLevelTwoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Vanrise.Fzero.Services.WcfServiceLibrary" minOccurs="0" name="GetCallsDidNotPassLevelTwoResult" nillable="true" type="q4:ArrayOfgeneratedCall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformLevelTwoComparison">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Vanrise.Fzero.Services.WcfServiceLibrary" minOccurs="0" name="GeneratedCallsList" nillable="true" type="q5:ArrayOfgeneratedCall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformLevelTwoComparisonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>